{{>layout/admin/header}}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Video</h1>
    <p class="mb-4">설명</p>

    <!-- CRUD card -->
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Save</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <label class="container-fluid">
                        <button type="button" class="btn btn-primary container-fluid" id="btn-video-save">
                            <span class="icon text-white-50">
                                <i class="fas fa-flag"></i>
                            </span>
                            <span class="text">저장</span>
                        </button>
                    </label>
                </div>

                <div class="col-sm-12 col-md-9">
                    <label class="container-fluid">
                        <form>
                            <input type="text" class="form-control form-control-lg" id="saveVideoId" placeholder="Video Id">
                        </form>
                    </label>
                </div>
            </div>
        </div>

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Playlist</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <label class="container-fluid">
                        <button type="button" class="btn btn-success container-fluid" id="btn-playlist-update">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">갱신</span>
                        </button>
                    </label>
                </div>

                <div class="col-sm-12 col-md-9">
                    <label class="container-fluid">
                        <form>
                            <input type="text" class="form-control form-control-lg" id="updatePlaylistId" placeholder="Playlist Channel Id">
                        </form>
                    </label>
                </div>
            </div>
        </div>

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Update</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <label class="container-fluid">
                        <button type="button" class="btn btn-warning container-fluid" id="btn-video-update">
                            <span class="icon text-white-50">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <span class="text">갱신</span>
                        </button>
                    </label>
                </div>

                <div class="col-sm-12 col-md-9">
                    <label class="container-fluid">
                        <form>
                            <input type="text" class="form-control form-control-lg" id="updateVideoId" placeholder="Video Id">
                        </form>
                    </label>
                </div>
            </div>
        </div>

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Delete</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <label class="container-fluid">
                        <button type="button" class="btn btn-danger container-fluid" id="btn-video-delete">
                            <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span class="text">삭제</span>
                        </button>
                    </label>
                </div>

                <div class="col-sm-12 col-md-9">
                    <label class="container-fluid">
                        <form>
                            <input type="text" class="form-control form-control-lg" id="deleteVideoIdx" placeholder="idx">
                        </form>
                    </label>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container-fluid -->

{{>layout/admin/footer}}
{{>layout/admin/footer_js}}